@model PagedList.IPagedList<DataLayer.ViewModel.OrderModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listColor = (List<DataLayer.EF.Color>)ViewBag.listColor;
    var listSize = (List<DataLayer.EF.Size>)ViewBag.listSize;
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="card shadow mb-4">

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Khách hàng</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh sản phẩm</th>
                                    <th>Size</th>
                                    <th>Màu sắc</th>
                                    <th>Giá bán</th>
                                    <th>Số lượng</th>
                                    <th>Hình thức vận chuyển</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td colspan="10" class="text-center">Không có dữ liệu</td>
                                    </tr>
                                }
                                @if (Model.Count != 0)
                                {
                                    foreach (var item in Model)
                                    {


                                        using (Html.BeginForm("Order", "Order", FormMethod.Post))
                                        {
                                            <form>
                                                <input name="OrderId" value="@item.ID" hidden />
                                                <input name="color" value="@item.Color" hidden />
                                                <input name="size" value="@item.Size" hidden />
                                            <tr id="row_@item.ID">
                                                <td>@item.UserName</td>
                                                <td>@item.ProductName</td>
                                                <td>
                                                    <img style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 150px; " src="@item.Image" />
                                                </td>
                                                <td>
                                                    @foreach (var size in listSize)
                                                    {

                                                        if (item.Size == size.ID)
                                                        {

                                                            @size.SizeName

                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var color in listColor)
                                                    {

                                                        if (item.Color == color.ID)
                                                        {

                                                            @color.ColorName

                                                        }
                                                    }
                                                </td>
                                                <td>@item.Price</td>
                                                <td>
                                                    @if (item.Status < 2)
                                                    {
                                                        <input type="number" name="productCount" value="@item.Count" />
                                                    }
                                                    else
                                                    {
                                                        @item.Count
                                                    }
                                                </td>
                                                <td>@item.ShipMode</td>
                                                <td>
                                                    @if (item.Status == 1)
                                                    {
                                                        <input type="submit" class="btn btn-success" style="text-decoration:none" @*href="/Order/Order?OrderId=@item.ID"*@ value="Đặt hàng" />
                                                        @*<i class="fa fa-edit">Đặt hàng</i></input>*@

                                                    }
                                                    @if (item.Status == 2)
                                                    {
                                                        <a class="btn btn-success" style="text-decoration:none">Chờ xác nhận</a>

                                                    }
                                                    @if (item.Status == 3)
                                                    {
                                                        <a class="btn btn-success" style="text-decoration:none">Đang giao hàng</a>
                                                    }
                                                    @if (item.Status == 4)
                                                    {
                                                        <a class="btn btn-success" style="text-decoration:none">Đã nhận hàng</a>
                                                    }
                                                    @if (item.Status == 5)
                                                    {
                                                        <a class="btn btn-danger" style="text-decoration:none">Đã Hủy</a>

                                                    }

                                                </td>
                                                <td>
                                                    @if (item.Status == 2)
                                                    {
                                                        <a class="btn btn-danger" style="text-decoration:none" href="/Order/DeleteOrder/@item.ID" onclick="return confirm('Ban co chac muon huy?')"><i class="fa fa-trash">Hủy</i></a>

                                                    }

                                                    @if (item.Status == 1)
                                                    {

                                                        <a class="btn btn-danger" style="text-decoration:none" href="/Order/Delete/@item.ID" onclick="return confirm('Ban co chac muon xoa?')"><i class="fa fa-trash">Xóa</i></a>
                                                    }
                                                </td>
                                            </tr>
                                            </form>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>