@model NTQ_Solution.Areas.Admin.Data.RegisterModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Latform - Login and Register Form Templates</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assests/dist/vendor/bootstrap-4.5.3/css/bootstrap.min.css" type="text/css">
    <!-- Material design icons -->
    <link rel="stylesheet" href="/assests/dist/icons/material-design-icons/css/mdi.min.css" type="text/css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <!-- Latform styles -->
    <link rel="stylesheet" href="/assests/dist/css/latform-style-1.min.css" type="text/css">
</head>
<body>
    <div class="form-wrapper">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="logo">
                        <img src="/assests/dist/images/logo-colorful.png" alt="logo">
                    </div>
                    <div class="my-5 text-center">
                        <h3 class="font-weight-bold mb-3">Đăng ký</h3>
                    </div>
                    @using (Html.BeginForm("Register", "Register", FormMethod.Post))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="form-icon-wrapper">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                            <i class="form-icon-left mdi mdi-email"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="form-icon-wrapper">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            <i class="form-icon-left mdi mdi-lock"></i>
                            <a href="#" class="form-icon-right password-show-hide" title="Hide or show password">
                                <i class="mdi mdi-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">ConfirmPassword</label>
                        <div class="form-icon-wrapper">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            <i class="form-icon-left mdi mdi-lock"></i>
                            <a href="#" class="form-icon-right password-show-hide" title="Hide or show password">
                                <i class="mdi mdi-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">UserName</label>
                        <div class="form-icon-wrapper">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            <i class="form-icon-left user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Address</label>
                        <div class="form-icon-wrapper">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            <i class="form-icon-left fa  fa-address-book"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Phone</label>
                        <div class="form-icon-wrapper">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" , Type = "number"})
                            <i class="form-icon-left bi bi-phone"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                    </div>
                    <p class="text-center">
                        @Html.ActionLink("Hủy bỏ", "Index", "Home")
                    </p>
                </form>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- Jquery -->
    <script src="/assests/dist/vendor/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assests/dist/vendor/bootstrap-4.5.3/js/bootstrap.min.js"></script>
    <!-- Latform scripts -->
    <script src="/assests/dist/js/latform.min.js"></script>
</body>
</html>

<!--<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NTQ</title>

    <!-- Custom fonts for this template-->
<!--<link href="~/assests/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">-->
<!-- Custom styles for this template-->
<!--<link href="~/assests/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">-->
<!-- Outer Row -->
<!--<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">-->
<!-- Nested Row within Card Body -->-->
<!--@* <div class="d-flex p-2">*@
                    @*<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>*@
                    @*<div class="col-lg-6">*@
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create New Account</h1>
                        </div>
                        @using (Html.BeginForm("Register", "Register", FormMethod.Post))
                        {
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                            <form class="user">
                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                                </div>
                                <div class="form-group">
                                    @Html.DisplayNameFor(model => model.Password)
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-group">

                                    @Html.DisplayNameFor(model => model.ConfirmPassword)
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <div class="form-group">

                                    @Html.DisplayNameFor(model => model.UserName)
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register
                                </button>
                                <hr>

                            </form>
                            <hr>

                            <div class="text-center">
                                <li><a href="/Login/Index">Back to Login</a></li>
                            </div>
                        }


                    </div>
                </div>
            </div>

        </div>

    </div>

</div>-->
<!-- Bootstrap core JavaScript-->
<!--<script src="~/assests/admin/vendor/jquery/jquery.min.js"></script>
<script src="~/assests/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- Core plugin JavaScript-->
<!--<script src="~/assests/admin/vendor/jquery-easing/jquery.easing.min.j"></script>-->
<!-- Custom scripts for all pages-->
<!--<script src="~/assests/admin/js/sb-admin-2.min.js"></script>
    <script>
     $(document).ready(function () {

            var message = '@TempData["success"]';
            if (message) {
                alert(message);
            }
        });
    </script>

</body>

</html>-->
