@model DataLayer.ViewModel.ProductModel

@{
    ViewBag.Title = "ImportProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Thông tin nhập hàng
}

@using (Html.BeginForm("ImportProduct", "Supplier", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control form-control-user", @autofocus = "autofocus", @readonly = "true" })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 150px; " src="@Model.Image" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input class="form-control form-control-user" readonly value="@ViewBag.Color" />

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

                    <input class = "form-control form-control-user" readonly value="@ViewBag.Size" />
               
            </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ImportPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ImportPrice, new { @class = "form-control form-control-user" , Type = "number", @min = "0", @max = "10000000" })
            @Html.ValidationMessageFor(model => model.NumberViews, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImportCount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ImportCount, new { @class = "form-control form-control-user", Type="number" , @min = "1" })
            @Html.ValidationMessageFor(model => model.ImportCount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SupplierID, new { @class = "form-control form-control-user" , @hidden = "true" } ) 
            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Nhập hàng" class="btn btn-primary" />
        </div>
    </div>
</div>
}

